* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #c4c2d6;
  top: 0;
}

.sign-wrapper {
  width: 78%;
  height: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 5px #b5b4bb;
  margin: auto;
  position: relative;
}
